<html><%
%><head><%
	%><script id="scriptListing" src="client/scripts/require.js"></script><%
	
	%><%EXEC: path = Request.path || '/' %><%
	%><%EXEC: path.endsWith('/') || (path += '/') %><%
	
	%><script><%
		%>requireScript("app/Listing.js");<%
		%>Listing.path = "<%= path %>";<%
		%>Listing.strObjects = "<%= intl( en = "Objects", ru = "Объектов" ) %>";<%

		%>requireStyle("frames.css");<%
	%></script><%
	
	%><script>
	router = parent.router;
	
	function callSearch(name){
		var isAuthor = false;
		try{
			(parent.document.forms.usersForm.elements.authors.value) && (isAuthor = true);
		}catch(Error){
			//
		}
	
		var obj = document.getElementById(name);
		var value = {};
		value[isAuthor ? "authors" : "users"] = obj.returnValue[0].id.substr(3);
		parent.callSearch(value);
	}
	</script><%
%></head><%

%><body BGCOLOR="buttonface" scroll="no" style="cursor:default;margin:0;overflow:hidden"><%
	%><table border=0 cellpadding=0 cellspacing=0 style="width:100%; height:100%"><%
		%><tr><%
			%><td width=100%><%
				%><table border=0 cellpadding=0 cellspacing=0 width=100% height=100% id="itemsList" path="<%=path%>"><%
					%><tr><%
						%><td class=FrameBorder2><%
							%><table border=0 cellpadding=0 cellspacing=0 style="width:100%"><%
								%><tr><%
									%><td style="padding:2px" cla2ss=FrameBorder2 width=100%><%
										%><table border=0 cellpadding=0 cellspacing=0 style="width:100%"><%
											%><tr><%
												%><td width=100% class=SubmenuFrame nowrap id=TDPaging>&nbsp;</td><%
											%></tr><%
										%></table><%
									%></td><%
									%><td style="padding:1px"><%
										%><button class=iconText onclick="itemsList.refresh()"><%
											%>Refresh<%
										%></button><%
									%></td><%
								%></tr><%
							%></table><%
						%></td><%
					%></tr><%
					%><tr><%
						%><td height=100%><%
							%><iframe<%
								%> name="itemsListFrm"<%
								%> src="formListMultiple.list?<%= Request.getParameterString() %>"<%
								%> style="width:100%;height:100%"<%
								%> frameborder=0><%
							%></iframe><%
						%></td><%
					%></tr><%
				%></table><%
			%></td><%
		%></tr><%
	%></table><%
%></body><%
%></html>