<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<!--
				'toolbar' fixed height, 'content' all other.
		 -->
		<style>
			.holder,BODY1,HTML1{
				padding:0;
				margin:0;
				width:100%;
				height:100%;
			}
			.layout{
				position:relative;
				width:100%;
				height:100%;
			}
			.toolbar{
				height:21px;
				border:solid 3px magenta;
				padding:2px;
			}
		</style>
	</head>
	<body>
		
		<!--
		
		<table border=0 cellpadding=0 cellspacing=0 style="background-color:yellow;height:100%;width:100%">
			<tr>
				<td style="height:31px;width:100%;">
					<div class="toolbar" style="background-color:green">
					</div>
				</td>
			</tr>
			<tr>
				<td class="height:100%;width:100%;">
						<div style="background-color:silver;width:100%;height:100%;overflow:auto">
							aa<br>bb<br>cc<br>dd<br>ee<br>ff<br>gg<br>hh<br>ii<br>jj<br>kk<br>ll<br>mm<br>
							nn<br>oo<br>pp<br>qq<br>rr<br>ss<br>tt<br>uu<br>vv<br>ww<br>xx<br>yy<br>zz<br>
							<span style="white-space:nowrap">
								z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z
							</span>
						</div>
				</td>
			</tr>
		</table>
		
		
		<div class="layout" style="background-color:red">
			<div>
			<div style="background-color:green;position:absolute;top:0px;left:0px;width:100%;">
					<div class="toolbar" style="background-color:green">
					</div>
			</div>
			</div>
			<div style="height:100%">
				<div style="height:100%">
					<div style="background-color:cyan;width:100%;height:100%;margin-top:31px">
						<div style="background-color:silver;height:100%;overflow:auto">
							aa<br>bb<br>cc<br>dd<br>ee<br>ff<br>gg<br>hh<br>ii<br>jj<br>kk<br>ll<br>mm<br>
							nn<br>oo<br>pp<br>qq<br>rr<br>ss<br>tt<br>uu<br>vv<br>ww<br>xx<br>yy<br>zz<br>
							<span style="white-space:nowrap">
								z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		-->
		
		<div class="layout" style="background-color:red">
			<div class="toolbar" style="background-color:green;">
			</div>
			<body style="background-color:silver;overflow:auto">
				aa<br>bb<br>cc<br>dd<br>ee<br>ff<br>gg<br>hh<br>ii<br>jj<br>kk<br>ll<br>mm<br>
				nn<br>oo<br>pp<br>qq<br>rr<br>ss<br>tt<br>uu<br>vv<br>ww<br>xx<br>yy<br>zz<br>
				<span style="white-space:nowrap">
					z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z-z
				</span>
			</body>
		</div>
	</body>
</html>