<html><body><h1>ACMWIN Information Center</h1><!-- <%FORMAT:'html'%><%
%><%OUTPUT: body %><%
	%><%= '<!' + '-- ' + 'begin' %><%
	%>-->
		<ul>
			<li>
				<h2>General</h2>
				<p>Here we have some information on installing <a href="acmcms.htm">ACMCMS</a>
				environment on <a href="http://www.microsoft.com">Microsoft(R)</a> Windows
				operating systems.</p>
				<ul>
				</ul>
			</li>
			<li>
				<h2>Installation</h2>
				<p>Provided that you already have installed windows system and
				logged in with Administrators' group privileges before you proceed.</p>
				<p>Also, since we don't have exact instructions you have to be experienced 
				enough to perform Windows' configuration and management tasks.</p>
				<ul>
					<li>Make sure you have the latest version (version 6 is required) of <a href="http://java.com">Java installed</a>.</li>
					<li></li>
				</ul>
			</li>
			<li>
				<h2>Regards</h2>
				<ul>
					<li><a href="#">?</a></li>
				</ul>
			</li>
		</ul>
	<!-- <%= 'end. ' + '--' + '>' %><%
%><%/OUTPUT%><%
%><%RETURN: {
		title		: 'ACMWIN Information Centre',
		template	: "html-document",
		body		: body
	} %><%
%><%
%><%/FORMAT%> --></body></html>