<html><body><h1>Installation</h1><!-- <%FORMAT:'html'%><%
%><%OUTPUT: body %><%
	%><%= '<!' + '-- ' + 'begin' %><%
	%>-->
		<ul>
			<li>
				More specific types of installation are:
				<ul>
					<li><a href="acmbsd.htm">acmbsd</a> embedded software for dedicated (could still be virtual) i386 or x86-84 system.</li>
					<li><a href="acmwin.htm">acmwin</a> installation instructions for Microsoft Windows systems.</li>
					<li><a href="acmdeb.htm">acmdeb</a> installation instructions for Debian (GNU/Linux) systems.</li>
				</ul>
			</li>
			<li>
				<h2>Requirements</h2>
				<p></p>
				<ul>
					<li>Installed and working JAVA SE 6.0</li>
					<li>Ability to open not less than 4096 files for java process</li>
					<li>Ability to start not less than 512 threads for java process</li>
					<li>Unlimited max thread execution time for java process</li>
					<li>Not less than 256 megabytes allocated for java process</li>
					<li>100% JDBC-compatible database and driver</li>
				</ul>
			</li>
			<li>
				<h2>Database specifics</h2>
				<p>System is bundled with drivers for:</p>
				<ul>
					<li>mysql</li>
					<li>MS SQL</li>
					<li>postgres</li>
					<li>oracle</li>
				</ul>
			</li>
			<li>
				<h2>Installation</h2>
				<p>In general.</p>
				<ul>
				</ul>
			</li>
			<li>
				User Manual
				<ul>
					<li><a href="/!/public/resources/doc/acm.cms-ru.pdf">Manual (PDF format), Russian</a></li>
				</ul>
			</li>
			<li>
				<h2>Regards</h2>
				<ul>
					<li><a href="#">?</a></li>
				</ul>
			</li>
		</ul>
	<!-- <%= 'end. ' + '--' + '>' %><%
%><%/OUTPUT%><%
%><%RETURN: {
		title		: 'Installation',
		template	: "html-document",
		body		: body
	} %><%
%><%
%><%/FORMAT%> --></body></html>