<html><body><h1>json2.js</h1><!-- <%FORMAT:'html'%><%
%><%OUTPUT: body %><%
	%><%= '<!' + '-- ' + 'begin' %><%
	%>-->
		<p>Standard script to encode / decode JSON data.</p>
		<code><!-- <%FORMAT: 'default' %> -->
    http://www.JSON.org/json2.js
    2009-06-29

    Public Domain.

    NO WARRANTY EXPRESSED OR IMPLIED. USE AT YOUR OWN RISK.

    See <a href="http://www.JSON.org/js.html">http://www.JSON.org/js.html</a>

		<!-- <%/FORMAT%> --></code>
		<ul>
			<li><a href="/!/public/resources/skin/skin-jsclient/js/json2.js">json2</a>
				 - script source code (for studying the code and comments).
			</li>
			<li><a href="/!/skin/skin-jsclient/js/json2.js">json2</a>
				 - minified location (for actual usage in a web page).
			</li>
		</ul>
		<p>And if you think that it's illegal to use minified version with license stripped, check this out (taken from comments):</p>
		<code><!-- <%FORMAT: 'default' %> -->
    This is a reference implementation. You are free to copy, modify, or
    redistribute.

    This code should be minified before deployment.
    See http://javascript.crockford.com/jsmin.html

    USE YOUR OWN COPY. IT IS EXTREMELY UNWISE TO LOAD CODE FROM SERVERS YOU DO
    NOT CONTROL.
		<!-- <%/FORMAT%> --></code>
	<!-- <%= 'end. ' + '--' + '>' %><%
%><%/OUTPUT%><%
%><%RETURN: {
		title		: 'json2.js',
		template	: "html-document",
		body		: body
	} %><%
%><%
%><%/FORMAT%> --></body></html>