<html><body><h1>Developer Tools: Staff favourites (java, java-doc)</h1><!-- <%FORMAT:'html'%><%
%><%OUTPUT: body %><%
	%><%= '<!' + '-- ' + 'begin' %><%
	%>-->
		<p>
			We (we call ourselves 'staff') use our system as well, so we made
			 this 'staff favourites' section for us... However, we'd like to
			 think that it could be useful for everyone.
		</p>
		<ul>
			<li>
				List of SAPIs
				<ul>
					<li><a href="../jdoc-ae3.api/ru/myx/ae3/Engine.html">Engine</a></li>
					<li><a href="../jdoc-ae3.api/ru/myx/ae3/act/Act.html">Act</a></li>
					<li><a href="../jdoc-ae3.sdk/ru/myx/ae3/produce/Produce.html">Produce</a></li>
					<li><a href="../jdoc-ae3.sdk/ru/myx/ae3/binary/Transfer.html">Transfer</a></li>
					<li><a href="../jdoc-ae3.sdk/ru/myx/ae3/vfs/Storage.html">Storage</a></li>
					<li><a href="../jdoc-ae3.sdk/ru/myx/sapi/FormatSAPI.html">Format (Global, Static API)</a></li>
				</ul>
				Other
				<ul>
					<li><a href="/!/skin/skin-ae3-info/">SKIN: AE3 Info</a></li>
					<li><a href="/!/public/resources/lib/ru.myx.ae3.manual/QuickReference.xml">AE3 Quick Developer Reference</a></li>
				</ul>
			</li>
		</ul>
	<!-- <%= 'end. ' + '--' + '>' %><%
%><%/OUTPUT%><%
%><%RETURN: {
		title		: 'Developer Tools: Staff favourites (java, java-doc)',
		template	: "html-document",
		body		: body
	} %><%
%><%
%><%/FORMAT%> --></body></html>