BODY,TD {
	cursor: default;
	background-color: window;
	color: windowtext;
}

A {
	color: windowtext;
	text-decoration: underline;
}

.listDataCell {
	height: 15px;
	font-family: Tahoma, Arial;
	font-size: 8pt;
	padding: 0 15px 0 4px;
	border-style: solid;
	border-width: 1px;
}

TH.listSelector {
	border-bottom: solid 1px buttonshadow;
	border-right: solid 1px buttonshadow;
	border-top: solid 1px buttonhighlight;
	border-left: solid 1px buttonhighlight;
	background-color: buttonface;
	color: buttontext;
	margin: 0;
	padding: 0;
	width: 15px;
}

.blockParent .icon {
	padding: 0;
	border: 0;
}

.blockParent .title {
	padding: 0 0 0 4px;
	border: 0;
}

.listTDheader {
	border-bottom: solid 1px buttonshadow;
	border-right: solid 1px buttonshadow;
	border-top: solid 1px buttonhighlight;
	border-left: solid 1px buttonhighlight;
	background-color: buttonface;
	color: buttontext;
	height: 16px;
	padding-left: 4px;
	padding-right: 4px;
	font-family: Tahoma, Arial;
	font-size: 8pt;
}

.listTDheader TD {
	font-family: Tahoma, Arial;
	font-size: 8pt;
	background-color: buttonface;
	color: buttontext;
}

.listTDheader .switch {
	font-family: Webdings;
	font-size: 10px;
	line-height: 6px;
}

.listTDheader .title {
	padding-right: 4px;
}

.listTDheader .titleSelect {
	padding-right: 4px;
	font-weight: bold;
}

.listTDheaderWOborder {
	font-family: Tahoma, Arial;
	font-size: 8pt;
	background-color: buttonface;
	color: buttontext;
	border: 0;
}

INPUT,SELECT {
	font-family: Tahoma, Arial;
	font-size: 7pt;
	border: 0;
	background-color: activecaption;
	color: captiontext;
}

.filter {
	padding: 1px;
	margin-top: -1px;
	margin-bottom: -1px;
	width: 100%;
}