HTML,BODY {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
}

FORM {
	padding: 0;
	margin: 0;
}

BODY,TD {
	cursor: default;
	background-color: window;
	color: windowtext;
}

A {
	color: windowtext;
	text-decoration: underline;
}

.dtab TH,.htab TH {
	border: solid 1px buttonshadow;
	border-top-color: buttonhighlight;
	border-left-color: buttonhighlight;
	background-color: buttonface;
	color: buttontext;
	margin: 0;
	padding: 0 10px 0 0;
	width: 0;
	height: 16px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.dtab TD {
	height: 15px;
	font-family: Tahoma, Arial;
	font-size: 8pt;
	padding: 0 15px 0 4px;
	border-style: solid;
	border-width: 1px;
	white-space: nowrap;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.dtab .listTDselect {
	border-bottom: solid 1px buttonshadow;
	border-right: solid 1px buttonshadow;
	border-top: solid 1px buttonhighlight;
	border-left: solid 1px buttonhighlight;
	background-color: buttonface;
	color: buttontext;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.dtab .icon,.dtab .icon img,.dtab .icon img:hover {
	padding: 0;
	border: 0;
	width: 16px;
	height: 16px;
}

.dtab .title {
	padding: 0 0 0 4px;
	border: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.listTDheader {
	border: solid 1px buttonshadow;
	border-top-color: buttonhighlight;
	border-left-color: buttonhighlight;
	background-color: buttonface;
	color: buttontext;
	height: 16px;
	padding-left: 1px;
	padding-right: 1px;
	font-family: Tahoma, Arial;
	font-size: 8pt;
	behavior2: url(_list-header.htc);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

#htab {
	beh2avior: url(_list-blockheader.htc);
}

.listTDheader .select {
	background-color: buttonhighlight;
}

.listTDheader TABLE {
	width: 100%;
}

.listTDheader TD {
	font-family: Tahoma, Arial;
	font-size: 8pt;
	background-color: buttonface;
	color: buttontext;
}

.listTDheader .switch {
	font-family: Webdings;
	font-size: 10px;
	line-height: 8px;
	padding: 0 3px 0 3px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.listTDheader .title {
	width: 100%;
	padding-right: 4px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.listTDheaderWOborder {
	font-family: Tahoma, Arial;
	font-size: 8pt;
	background-color: buttonface;
	color: buttontext;
	border: 0;
}

INPUT,SELECT {
	font-family: Tahoma, Arial;
	font-size: 7pt;
	border: 0;
	background-color: ActiveCaption;
	color: CaptionText;
}

.filter {
	padding: 1px;
	margin-top: -1px;
	margin-bottom: -1px;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}