<html><body><!-- <%FORMAT:'html'%><%
%><%OUTPUT: body %><%
	%><%= '<!' + '-- ' + 'begin' %><%
	%>-->
		<ul>
			<li>
				<h2>General</h2>
				<p>'vfs' object providing means to access and manipulate internal virtual file system.</p>
				<ul>
					<li></li>
				</ul>
			</li>
			<li>
				<h2>Hierarchy</h2>
				<p>Directory hierarchy.</p>
				<ul>
					<li>Root folders:
						<ul>
							<li><b>/private</b> - read-write instance local (private) data</li>
							<li><b>/cache</b> - read-write instance local (private) cache for 
							shared, cluster and/or public data</li>
							<li><b>/shared</b> - read-write machine local shared data, 
							mapped to real file-system and used for interprocess communication,
							available to all running services</li>
							<li><b>/protected</b> - read-write cluster data, shared/accessible 
							from any cluster machine</li>
							<li><b>/public</b> - read-only public data</li>
							<li><b>/union</b> - read-only local, cache, shared, cluster and public data mixed altogether</li>
						</ul>
						<ul>
							<li><b>/local</b> - read-write instance local (private) data</li>
							<li><b>/cache</b> - read-write instance local (private) cache for cluster data</li>
							<li><b>/cluster</b> - read-write cluster data</li>
							<li><b>/shared</b> - read-write shared cluster-wide data available to all running services</li>
							<li><b>/public</b> - read-only public data</li>
							<li><b>/union</b> - read-only public, local, cache, shared, cluster data mixed altogether</li>
						</ul>
					</li>
					<li>Each of root folders contains:
						<ul>
							<li><b>/home</b> - per user data (as in sub-folder for every user)</li>
							<li><b>/resources</b> - permanent data which is supposed to change on system updates/upgrades only.
								<ul>
									<li><b>/lib</b> - CommonJS libraries</li>
									<li><b>/skin</b> - skins</li>
								</ul>
							</li>
							<li><b>/settings</b> - variable data which is supposed to change during normal operation.
								<ul>
									<li><b>/manual</b> - manuals descriptors definition files
										<ul>
											<li><b>/developer</b> - manuals for developers (programmers, coders)</li>
											<li><b>/maintainer</b> - manuals for maintainers (system administrators)</li>
										</ul>
									</li>
									<li><b>/periodic</b> - periodic tasks descriptions for 'periodic' module.
										<ul>
											<li><b>/hourly</b></li>
											<li><b>/daily</b></li>
											<li><b>/weekly</b></li>
											<li><b>/monthly</b></li>
										</ul>
									</li>
									<li><b>/service</b> - daemons, service descriptions for 'service' module.</li>
									<li><b>/shell</b> - global shell commands definition files</li>
									<li><b>/test</b> - test tasks definition files</li>
									<li><b>/web</b> - web related definition files
										<ul>
											<li><b>/hosts</b> - web shares definition files.</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<h2>JavaScript API</h2>
				<code>
					var vfs = require('ae3/vfs');
				</code>
				<h3>Constants</h3>
				<ul>
					<li>Entry PUBLIC</li>
					<li>Entry PUBLIC_LIB</li>
					<li>Entry PROTECTED</li>
					<li>Entry PROTECTED_LIB</li>
					<li>Entry PRIVATE</li>
				</ul>
				<h3>Methods</h3>
				<ul>
					<li>Entry getRelative(Entry from, String path, null)</li>
					<li>Entry getRelative(Entry root, Entry from, String path, null)</li>
					<li>Entry getRelativeTreeFolder(Entry from, String path)</li>
					<li>Entry getRelativeTreeFile(Entry from, String path)</li>
					<li>...</li>
				</ul>
				<h3>Entry's Methods</h3>
				<ul>
					<li>boolean isPrimitive()</li>
					<li>boolean isBinary()</li>
					<li>boolean isContainer()</li>
					<li>...</li>
				</ul>
			</li>
			<!-- <li>
				<h2>Regards</h2>
				<ul>
					<li><a href="http://mmsource.ru">mmsource</a></li>
					<li><a href="http://myx.co.nz">myx</a></li>
					<li><a href="http://dust-bag.ru">ZySHOP</a> (Hi there!)</li>
					<li><a href="http://keenetic.com">Keenetic</a> (Routers)</li>
					<li><a href="http://ndmsystems.com">NDM Systems</a> (Software)</li>
					<li><a href="http://capandcap.ru">Cap n' Cap</a> (KeFF-IR)</li>
				</ul>
			</li> -->
		</ul>
	<!-- <%= 'end. ' + '--' + '>' %><%
%><%/OUTPUT%><%
%><%RETURN: {
		title		: 'AE3 Developer: VFS (Virtual File System)',
		template	: "html-document",
		body		: body
	} %><%
%><%
%><%/FORMAT%> --></body></html>