<html><body><h1>Developer Tools: Static APIs</h1><!-- <%FORMAT:'html'%><%
%><%OUTPUT: body %><%
	%><%= '<!' + '-- ' + 'begin' %><%
	%>-->
		<p>
			static APIs - objects accessible through thread's global 
			context provided by system as an execution environment 
			helpers, factories and API's.
		</p>
		<ul>
			<li>
				<h3>List of JS SAPIs</h3>
				<p>Some objects are available just because they are part of 
				<a href="http://www.ecma-international.org/publications/standards/Ecma-262.htm">ecma-262</a>
				(<a href="http://en.wikipedia.org/wiki/JavaScript">JavaScript</a>) specification.</p>
				<ul>
					<li><a href="https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects">MDC - Global Objects</a> 
					Good and open documentation covering JavaScript's global object.</li>
				</ul>
			</li>
			<li>
				<h3>List of AE3 SAPIs</h3>
				<ul>
					<li><a href="/!/skin/skin-ae3-info/jdoc-ae3.sdk/ru/myx/sapi/FileSAPI.html">File / FileAPI</a></li>
					<li><a href="/!/skin/skin-ae3-info/jdoc-ae3.sdk/ru/myx/sapi/FormatSAPI.html">Format / FormatAPI</a></li>
					<li><a href="/!/skin/skin-ae3-info/jdoc-ae3.sdk/ru/myx/sapi/ImagingSAPI.html">Imaging / ImagingAPI</a></li>
					<li><a href="/!/skin/skin-ae3-info/jdoc-ae3.sdk/ru/myx/sapi/RandomSAPI.html">Random / RandomAPI</a></li>
					<li><a href="/!/skin/skin-ae3-info/jdoc-ae3.sdk/ru/myx/sapi/ReflectionSAPI.html">Reflection / ReflectionAPI</a></li>
				</ul>
			</li>
			<li>
				<h3>List of ACM SAPIs</h3>
				<ul>
					<li><a href="../jdoc-acm.cms/ru/myx/sapi/ApplicationSAPI.html">ApplicationAPI</a></li>
					<li><a href="../jdoc-acm.cms/ru/myx/sapi/CalendarSAPI.html">CalendarAPI</a></li>
					<li><a href="../jdoc-acm.cms/ru/myx/sapi/ControlSAPI.html">ControlAPI</a></li>
					<li><a href="../jdoc-acm.cms/ru/myx/sapi/CreateSAPI.html">CreateAPI</a></li>
					<li><a href="../jdoc-acm.cms/ru/myx/sapi/DefaultSAPI.html">DefaultAPI</a></li>
					<li><a href="../jdoc-acm.cms/ru/myx/sapi/ExcelSAPI.html">ExcelAPI</a></li>
					<li><a href="../jdoc-acm.cms/ru/myx/sapi/FlagsSAPI.html">FlagsAPI</a></li>
					<li><a href="../jdoc-acm.cms/ru/myx/sapi/MailSAPI.html">MailAPI</a></li>
					<li><a href="../jdoc-acm.cms/ru/myx/sapi/RequestSAPI.html">RequestAPI</a>, <a href="/!/skin/skin-developer-tools/show-request.htm">Request live</a></li>
					<li><a href="../jdoc-acm.cms/ru/myx/sapi/RuntimeSAPI.html">RuntimeAPI</a></li>
					<li><a href="../jdoc-acm.cms/ru/myx/sapi/SessionSAPI.html">SessionAPI</a></li>
					<li><a href="../jdoc-acm.cms/ru/myx/sapi/SortSAPI.html">SortAPI</a></li>
					<li><a href="../jdoc-acm.cms/ru/myx/sapi/TicTacToeSAPI.html">TicTacToeAPI</a></li>
					<li><a href="../jdoc-acm.cms/ru/myx/sapi/UserSAPI.html">UserAPI</a></li>
					<li><a href="../jdoc-acm.cms/ru/myx/sapi/UserManagerSAPI.html">UserManagerAPI</a></li>
				</ul>
			</li>
			<li>
				<h3>More (non-static API's of plugins and modules)</h3>
				<ul>
					<li><a href="../jdoc-acm.cms/ru/myx/ae1/storage/ModuleInterface.html">StorageAPI</a> s2 or s3 document storage api</li>
					<li><a href="../jdoc-acm.cms/ru/myx/srv/download/client/StaticAPI.html">DownloadAPI</a> dls download client system api</li>
					
				</ul>
			</li>
			<li>
				<h3>Other</h3>
				<ul>
					<li><a href="/!/skin/skin-acmcms-info/">SKIN: ACM.CMS Info</a> (this one... its root, actually.)</li>
				</ul>
			</li>
		</ul>
	<!-- <%= 'end. ' + '--' + '>' %><%
%><%/OUTPUT%><%
%><%RETURN: {
		title		: 'Static APIs',
		template	: "html-document",
		body		: body
	} %><%
%><%
%><%/FORMAT%> --></body></html>