<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>CONTENT+MENUPANE</title>
	<script src="../../../js/require.js"></script>
	<script src="../../../js/debug.js"></script>
	<script src="../../../js/Layouts/Layout.js"></script>
	<style>
		body,html{
			width:100%;
			height:100%;
			margin:0;
			padding:0;
			overflow:hidden;
		}
		.test{
			opacity:0.6;
			filter: alpha(opacity=60);
		}
	</style>
</head>
<body>
	<!--div id=layout style="width:100%;height:100%;overflow:hidden"></div-->

	<div id=content class=test style="display:none;position:relative;height:100%">
		<div style="height:10px;border:solid 20px black"></div>
		<div style="position:absolute;width:100%;height:100%">
			<div style="border:solid 15px yellow;position:absolute;left:0;top:0;width:100%;height:100%">
				<div style="border:solid 15px magenta;height:100%">
				</div>
			</div>
		</div>
		<span style="white-space: nowrap">
			XYN1 XYN2 XYN3 XYN4 XYN1 XYN2 XYN3 XYN4 XYN1 XYN2 XYN3 XYN4 XYN1 XYN2 XYN3 XYN4 
			XYN1 XYN2 XYN3 XYN4 XYN1 XYN2 XYN3 XYN4 XYN1 XYN2 XYN3 XYN4 XYN1 XYN2 XYN3 XYN4 
		</span>
		XYN1<br>XYN2<br>XYN3<br>XYN4<br>XYN1<br>XYN2<br>XYN3<br>XYN4<br>XYN1<br>XYN2<br>XYN3<br>XYN4<br>
		XYN1<br>XYN2<br>XYN3<br>XYN4<br>XYN1<br>XYN2<br>XYN3<br>XYN4<br>XYN1<br>XYN2<br>XYN3<br>XYN4<br>
		XYN1<br>XYN2<br>XYN3<br>XYN4<br>XYN1<br>XYN2<br>XYN3<br>XYN4<br>XYN1<br>XYN2<br>XYN3<br>XYN4<br>
		XYN1<br>XYN2<br>XYN3<br>XYN4<br>XYN1<br>XYN2<br>XYN3<br>XYN4<br>XYN1<br>XYN2<br>XYN3<br>XYN4<br>
		XYN1<br>XYN2<br>XYN3<br>XYN4<br>XYN1<br>XYN2<br>XYN3<br>XYN4<br>XYN1<br>XYN2<br>XYN3<br>XYN*<br>
	</div>

	<div id=panel class=test style="display:none;width:100%;height:100%;background-color:green">
		XYN1
		XYN2
	</div>


	<script>
			var form = new Panel(document.getElementById("layout") || document.body, {
					cssStyle	: "padding:8px;background-color:#5f5",
					comment		: "Green padding panel"
				});
			form.menu = form.attachEast({
								width : 166,
								spacing : 10,
								panel : {
									padding		: 10,
									cssStyle : "border:inset 8px",
									title		: "Quick Menu panel"
								},
								content : {
									cssStyle : "border:inset 8px;background-color:red;overflow:auto",
									comment : "Content Panel"
								}
							});
			form.pushPanel({
					cssStyle	: "border:outset 8px;padding:8px;background-color:#55f",
					comment		: "Blue Border/Padding panel"
				});
			form.pushPanel({
					cssStyle	: "border:inset 10px;background-color:red;overflow:auto",
					comment		: "border/scroller panel"
				});
			form.pushElement(document.getElementById("content"), true);
			form.menu.pushElement(document.getElementById("panel"), true);

			document.onclick = function(){
				var temp = form.innerHTML;
				form.innerHTML = form.menu.innerHTML;
				form.menu.innerHTML = temp;
				return false;
			};
			
			document.ondblclick = function(){
				form.menu.panel.display();
				return false;
			};
	</script>
</body>
</html>