<html><head><title1>Inputs.String</title><!-- <%FORMAT:'html'%><%
%><%OUTPUT: head %><%
	%><%= '<!' + '-- ' + 'begin' %>-->
	<script type="text/javascript" src="../../js/debug.js"></script>
	<script type="text/javascript" src="../../js/require.js"></script>
	<script type="text/javascript" src="../../js/lib/standard.js"></script>
	
	<script type="text/javascript" src="../../js/Inputs/String.js"></script>
	<script type="text/javascript" src="../../js/Inputs/DropSelect.js"></script>
	<script type="text/javascript" src="../../js/Effects/Busy.js"></script>
	<script type="text/javascript" src="../../js/Elements/ModalDiv.js"></script>
	<script type="text/javascript" src="../../js/Utils/Coordinates.js"></script>
	<script type="text/javascript" src="../../js/Utils/Event.js"></script>
	<script type="text/javascript" src="../../js/Features/DeferredChange.js"></script>
	<script type="text/javascript" src="../../js/Features/MouseCapture.js"></script>
	<script type="text/javascript" src="../../js/Inputs/BoxSelect.js"></script>
	
	<link rel="stylesheet" type="text/css" href="../../css/web/default.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/Inputs/String.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/lib/boxselect.css"/>
	<!-- <%= 'end. ' + '--' + '>' %><%
%><%/OUTPUT%><% // -->
</head>
<body><h1>Inputs.String</h1><!-- 
%><%OUTPUT: body %><%
	%><%= '<!' + '-- ' + 'begin' %><%
	%>-->
	<!-- sorry, should be <p> and <span> in it - by IE fails... -->
	<div skip="true" style="width:300px;background-color:#AAFFFF;padding:15px">
		A paragraph of text <div style="display:block"></div> is here.
		<a href="#" onclick="document.body.style.position='relative'; return false;">body:relative</a>
		<a href="#" onclick="document.body.style.position='static';return false;">body:static</a>
	</div>
	<!-- end of sorry 8-) -->
	<table border="1" cellspacing="4" width="100%" height="140px" style="margin: 3px;background-color:#DDDDFF;">
		<tr>
			<td valign="top"></td>
			<td valign="bottom"></td>
			<th valign="bottom">
				<h1>STRING</h1>
				<a href="javascript:acquire()" onclick="return acquire()">
					&gt; click to acquire system inputs &lt;
				</a>, 
				<a href="../../tests.html">
					&gt; click for tests.html &lt;
				</a>
			</th>
		</tr>
	</table>
	<table border="1" cellspacing="4" height="140px" style="margin: 3px;background-color:#DDDDFF;">
		<tr>
			<td valign="top"></td>
			<td valign="bottom"></td>
			<th valign="bottom"><h1>STRING</h1><a href="../../tests.html">&gt; click for tests.html &lt;</a></th>
		</tr>
	</table>
	<table width="15%" cellpadding="0" cellspacing="4" style="border: 3px solid cyan;background-color:#FFDDDD;">
		<tr>
			<td></td>
		</tr>
	</table>
	<table width="25%" cellpadding="0" cellspacing="4" style="border: 3px solid cyan;background-color:#DDFFDD;">
		<tr>
			<td></td>
		</tr>
	</table>
	<table width="35%" cellpadding="0" cellspacing="4" style="border: 3px solid cyan;background-color:#FFDDDD;">
		<tr>
			<td></td>
		</tr>
	</table>
	<table border="1" cellspacing="6" width="100%" style="border: 3px solid cyan;background-color:#DDFFDD;">
		<tr>
			<td></td>
			<td></td>
		</tr>
	</table>
	<table border="1" cellspacing="6" width="33%" style="width:33%;border:3px solid blue;background-color:#FFDDDD;">
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
	<table align="right" border="1" cellspacing="6" width="33%" style="width:33%;border:3px solid blue;background-color:#FFDDDD;">
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
	<div skip="true" style="position: relative; clear: both;">
		<table border="1" cellspacing="6" width="33%" style="width:33%;border:3px solid purple;background-color:#FFDDDD;">
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
	<div style="width:120px;height:120px;border: 3px solid red">
	</div>
	<div style="position:fixed;top:20px;right:10px;width:120px;height:32px;border: 3px solid black">
	</div>
	<div style="position:absolute;top:20px;right:150px;width:120px;height:32px;border: 3px solid black">
	</div>

	<div skip="true" style="position:fixed;top:20px;right:300px;width:120px;height:32px;border: 3px solid black">
		<input type="text" style="width:100%;height:100%" icon="/!/public/resources/data/images/famfamfam.com/silk/anchor.png">
	</div>
	
	<div skip="true" style="position:absolute;top:20px;right:450px;width:120px;height:32px;border: 3px solid black">
		<input type="text" style="width:100%;height:100%" icon="/!/public/resources/data/images/famfamfam.com/silk/comment.png">
	</div>
	
	<div skip="true" style="position:fixed;top:60px;right:300px;width:120px;height:2em;border: 3px solid black">
		<input type="text" style="width:100%;height:100%" icon="/!/public/resources/data/images/famfamfam.com/silk/key.png">
	</div>
	
	<div skip="true" style="position:absolute;top:60px;right:450px;width:120px;height:2em;border: 3px solid black">
		<input type="text" style="width:100%;height:100%" icon="/!/public/resources/data/images/famfamfam.com/silk/star.png">
	</div>
	
	<div skip="true" style="position:fixed;top:90px;right:300px;width:120px;border: 3px solid black">
		<input type="text" style="width:100%;height:100%">
	</div>
	
	<div skip="true" style="position:absolute;top:90px;right:450px;width:120px;border: 3px solid black">
		<input type="text" style="width:100%;height:100%">
	</div>
	
	<div skip="true" style="border: 3px solid green">
		Text1: <input type="text"/>, and then text2: <input type="text"/>.
	</div>
	
	<script>
		// <%FORMAT: 'js' %>
	
		var properties = {
			icon	: "/!/public/resources/data/images/famfamfam.com/silk/anchor.png",
			title	: "String Input Field", 
			suggestionsFn : function(x){
				var list = requireScript('../test/Inputs/options.jso') || [],
					filtered = [];
				for(var i = 0; i < list.length; ++i){
					var element = list[i];
					element.title.toLowerCase().indexOf(x.toLowerCase()) && filtered.push(element);
				}
				return filtered;
			}
		};
		// attach event handlers (for logging) to normal selects
		{
			var list = document.getElementsByTagName("select");
			for( var i = 0; i < list.length; ++i ) {
				if(list[i].getAttribute("skip")){
					continue;
				}
				list[i].onblur = function(){
					top.debug && top.debug("real_select: blur event");
				};
				list[i].onfocus = function(){
					top.debug && top.debug("real_select: focus event");
				};
			}
		}
		// attach select
		var selects = [];
		{
			var targets = [], sourceElements = ['td','div','span'];
			for( var j in sourceElements ){
				var list = document.getElementsByTagName(sourceElements[j]);
				for( var i = 0; i < list.length; ++i ) {
					list[i].getAttribute("skip") || targets.push( list[i] );
				}
			}
			for( var i = 0; i < targets.length; ++i ) {
				selects.push(new Inputs.String(targets[i], "str" + i, properties));
			}
		}
		function acquire(){
			var list = document.getElementsByTagName("input");
			for( var i = 0; i < list.length; ++i ) {
				var input = list[i];
				if(input.String || input.getAttribute("skip") || input.getAttribute("type") != "text"){
					continue;
				}
//				selects.push(Inputs.String.acquire(input, properties));
				selects.push(Inputs.String.acquire(input));
			}
			return false;
		}
		// <%/FORMAT%>
	</script>
	<div style="height: 800px; border: 1px dotted blue">&nbsp;</div>
	<!-- <%= 'end. ' + '--' + '>' %><%
%><%/OUTPUT%><%
%><%RETURN: {
		title		: 'Inputs.String',
		template	: "html-document",
		head		: head,
		body		: body
	} %><%
%><%
%><%/FORMAT%> --></body></html>