<html><body><!-- <%FORMAT:'html'%><%
%><%OUTPUT: body %><%
	%><%= '<!' + '-- ' + 'begin' %><%
	%>-->
		<ul>
			<li>
				<h2>General</h2>
				<p>It's a package for running <a href="ae3.htm">AE3</a>
				environment on a GPL licensed <a href="http://debian.org">debian</a>
				(GNU/Linux) operating system.</p>
				<ul>
				</ul>
			</li>
			<li>
				<h2>Installation</h2>
				<p>Provided that you already have installed debian system and
				logged in with 'root' privileges before you proceed.</p>
				<ul>
				</ul>
			</li>
			<li>
				<h2>Regards</h2>
				<ul>
					<li><a href="#">?</a></li>
				</ul>
			</li>
		</ul>
	<!-- <%= 'end. ' + '--' + '>' %><%
%><%/OUTPUT%><%
%><%RETURN: {
		title		: 'AE3DEB Information Centre',
		template	: "html-document",
		body		: body
	} %><%
%><%
%><%/FORMAT%> --></body></html>