<html><body><!-- <%FORMAT:'html'%><%
%><%OUTPUT: body %><%
	%><%= '<!' + '-- ' + 'begin' %><%
	%>-->
		<ul>
			<li>
				AE3 Environment
				<ul>
					<li><a href="ae3/vfs.htm">'vfs' object</a> 
						- Virtual File System API.
					</li>
					<li><a href="ae3/descriptors.htm">descriptors</a> 
						- Configuration files for pluggable infrastructure.
					</li>
					<li><a href="ae3/interfaces.htm">interfaces</a> 
						- Sets of methods you module should implement in order to hook up it's functionality.
					</li>
					<li><a href="ae3/libs.htm">libraries</a> 
						- <a href="http://wiki.commonjs.org/wiki/Modules/1.1.1">CommonJS</a> style libraries which can be dynamically loaded
						to enable specific functionality.
					</li>
					<li><a href="ae3/sapis.htm">static APIs (SAPIs)</a> 
						- static APIs - objects accessible through thread's global 
						context provided by system as an execution environment 
						helpers, factories and API's.
					</li>
					<li><a href="/!/skin/skin-ae3.impl.language.tpl/">Language: ACM.TPL</a> 
						- one of the languages used to write templates and scripts in ACMCMS.
					</li>
					<li><a href="/!/skin/skin-developer-tools/"><b>Developer tools</b></a>
						- various developer tools and utilities.
					</li>
				</ul>
			</li>
			<li>
				Detail
				<ul>
					<li><a href="ae3/howto-packaging.htm">packaging</a> 
						- package structure, how to make a package.
					</li>
				</ul>
			</li>
			<li>
				JAVA
				<ul>
					<li><a href="jdoc-ae3.api/index.html">AE3.API</a> (java-doc)</li>
					<li><a href="jdoc-ae3.sdk/index.html">AE3.SDK</a> /plus AE3.API/ (java-doc)</li>
					<li><a href="java/favourites.htm">Staff favourites</a> (java-doc)</li>
				</ul>
			</li>
			<li>
				Other
				<ul>
					<li><a href="/!/skin/skin-jsclient/">SKIN: JS Client</a></li>
					<li><a href="/!/skin/skin-standard-html/">SKIN: Standard HTML</a></li>
					<li><a href="/!/skin/skin-ae3-info/">AE3 Information Center</a></li>
					<li><a href="parts/Evaluate.LanguageImpl.txt">parts: Evaluate</a></li>
				</ul>
			</li>
		</ul>
	<!-- <%= 'end. ' + '--' + '>' %><%
%><%/OUTPUT%><%
%><%RETURN: {
		title		: 'AE3 Developer Centre',
		template	: "html-document",
		body		: body
	} %><%
%><%
%><%/FORMAT%> --></body></html>